:root {
  --t-b: 16px;
  /* value for typography base size on desktop */
  --t-sc: 1.31;
  /* value for typography scale on desktop */
  --t-ln-ht--big-t: 110%;
  /* line height for sizes of text: 3xl and above */
  --t-ln-ht--medium-t: 128%;
  /* line height for sizes of text: XL and 2xl */
  --t-ln-ht--small-t: 155%;
  /* line height for sizes of text: l and below */
  --t-lt-sp--h: -0.015em;
  /* letter spacing for headings */
  --t-lt-sp--p: normal;
  /* letter spacing for paragraphs */
}

@media only screen and (min-width: 620px) and (max-width: 991px) {

  /* only tablet */
  :root {
    --t-sc: 1.26;
    /* value for typography scale on tablet */
  }
}

@media only screen and (max-width: 619px) {

  /* only mobile */
  :root {
    --t-b: 15px;
    /* value for typography base size on mobile */
    --t-sc: 1.19;
    /* value for typography scale on mobile */
  }
}

body {
  /*   font-family: 'font-family'; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*   font-family: 'font-family--only-headings'; */
}

.t-s--xs {
  font-size: calc(var(--t-b) / (var(--t-sc) * var(--t-sc)));
  line-height: var(--t-ln-ht--small-t);
}

.t-s--s {
  font-size: calc(var(--t-b) / var(--t-sc));
  line-height: var(--t-ln-ht--small-t);
}

.t-s--m {
  font-size: var(--t-b);
  line-height: var(--t-ln-ht--small-t);
}

.t-s--l {
  font-size: calc(var(--t-b) * var(--t-sc));
  line-height: var(--t-ln-ht--small-t);
}

.t-s--xl {
  font-size: calc(var(--t-b) * var(--t-sc) * var(--t-sc));
  line-height: var(--t-ln-ht--medium-t);
}

.t-s--2xl {
  font-size: calc(var(--t-b) * var(--t-sc) * var(--t-sc) * var(--t-sc));
  line-height: var(--t-ln-ht--medium-t);
}

.t-s--3xl {
  font-size: calc(var(--t-b) * var(--t-sc) * var(--t-sc) * var(--t-sc) * var(--t-sc));
  line-height: var(--t-ln-ht--big-t);
}

.t-s--4xl {
  font-size: calc(var(--t-b) * var(--t-sc) * var(--t-sc) * var(--t-sc) * var(--t-sc) * var(--t-sc));
  line-height: var(--t-ln-ht--big-t);
}

.t-s--5xl {
  font-size: calc(var(--t-b) * var(--t-sc) * var(--t-sc) * var(--t-sc) * var(--t-sc) * var(--t-sc) * var(--t-sc));
  line-height: var(--t-ln-ht--big-t);
}

/* ----- */
.t-w--r {
  /* property to control the font weight for regular */
}

.t-w--s {
  /* property to control the font weight for semi-bold */
}

.t-w--b {
  /* property to control the font weight for bold */
}

/* ----- */
.t-var--i {
  /* property to use the italic variation of the font */
}

/* font-import */