/* Desktop variables */
:root {
  --space-2xs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;
  --space-4xl: 96px;
  --space-5xl: 128px;
  --space-6xl: 192px;
  --space-7xl: 256px;
}

/* Tablet variables */
@media screen and (max-width: 768px) {
  :root {}
}

/* Phone variables */
@media screen and (max-width: 558px) {
  :root {}
}

.space-top-2xs {
  margin: var(--space-2xs) 0 0 0
}

.space-right-2xs {
  margin: 0 var(--space-2xs) 0 0
}

.spac-bottom-2xs {
  margin: 0 0 var(--space-2xs) 0
}

.space-left-2xs {
  margin: 0 0 0 var(--space-2xs)
}

.space-top-xs {
  margin: var(--space-xs) 0 0 0
}

.space-right-xs {
  margin: 0 var(--space-xs) 0 0
}

.space-bottom-xs {
  margin: 0 0 var(--space-xs) 0
}

.space-left-xs {
  margin: 0 0 0 var(--space-xs)
}

.space-top-s {
  margin: var(--space-s) 0 0 0
}

.space-right-s {
  margin: 0 var(--space-s) 0 0
}

.space-bottom-s {
  margin: 0 0 var(--space-s) 0
}

.space-left-s {
  margin: 0 0 0 var(--space-s)
}

.space-top-m {
  margin: var(--space-m) 0 0 0
}

.space-right-m {
  margin: 0 var(--space-m) 0 0
}

.space-bottom-m {
  margin: 0 0 var(--space-m) 0
}

.space-left-m {
  margin: 0 0 0 var(--space-m)
}

.space-top-l {
  margin: var(--space-l) 0 0 0
}

.space-right-l {
  margin: 0 var(--space-l) 0 0
}

.space-bottom-l {
  margin: 0 0 var(--space-l) 0
}

.space-left-l {
  margin: 0 0 0 var(--space-l)
}

.space-top-xl {
  margin: var(--space-xl) 0 0 0
}

.space-right-xl {
  margin: 0 var(--space-xl) 0 0
}

.space-bottom-xl {
  margin: 0 0 var(--space-xl) 0
}

.space-left-xl {
  margin: 0 0 0 var(--space-xl)
}

.space-top-2xl {
  margin: var(--space-2xl) 0 0 0
}

.space-right-2xl {
  margin: 0 var(--space-2xl) 0 0
}

.space-bottom-2xl {
  margin: 0 0 var(--space-2xl) 0
}

.space-left-2xl {
  margin: 0 0 0 var(--space-2xl)
}

.space-top-3xl {
  margin: var(--space-3xl) 0 0 0
}

.space-right-3xl {
  margin: 0 var(--space-3xl) 0 0
}

.space-bottom-3xl {
  margin: 0 0 var(--space-3xl) 0
}

.space-left-3xl {
  margin: 0 0 0 var(--space-3xl)
}

.space-top-4xl {
  margin: var(--space-4xl) 0 0 0
}

.space-right-4xl {
  margin: 0 var(--space-4xl) 0 0
}

.space-bottom-4xl {
  margin: 0 0 var(--space-4xl) 0
}

.space-left-4xl {
  margin: 0 0 0 var(--space-4xl)
}

.space-top-5xl {
  margin: var(--space-5xl) 0 0 0
}

.space-right-5xl {
  margin: 0 var(--space-5xl) 0 0
}

.space-bottom-5xl {
  margin: 0 0 var(--space-5xl) 0
}

.space-left-5xl {
  margin: 0 0 0 var(--space-5xl)
}

.space-top-6xl {
  margin: var(--space-6xl) 0 0 0
}

.space-right-6xl {
  margin: 0 var(--space-6xl) 0 0
}

.space-bottom-6xl {
  margin: 0 0 var(--space-6xl) 0
}

.space-left-6xl {
  margin: 0 0 0 var(--space-6xl)
}

.space-top-7xl {
  margin: var(--space-7xl) 0 0 0
}

.space-right-7xl {
  margin: 0 var(--space-7xl) 0 0
}

.space-bottom-7xl {
  margin: 0 0 var(--space-7xl) 0
}

.space-left-7xl {
  margin: 0 0 0 var(--space-7xl)
}