/* Desktop variables */
:root {
  --space-zero: 0px;
  --space-2xs: 4px;
  --space-2_5xs: 6px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;
  --space-4xl: 96px;
  --space-5xl: 128px;
  --space-6xl: 192px;
  --space-7xl: 256px;
}

/* Tablet variables */
@media screen and (max-width: 991px) {
  :root {
    --space-2xl: 40px;
    --space-3xl: 56px;
    --space-4xl: 72px;
    --space-5xl: 88px;
    --space-6xl: 120px;
    --space-7xl: 152px;
  }
}

/* Phone variables */
@media screen and (max-width: 767px) {
  :root {
    --space-3xl: 48px;
    --space-4xl: 64px;
    --space-5xl: 80px;
    --space-6xl: 96px;
    --space-7xl: 112px;
  }
}

.margin-top-zero {
  margin: var(--space-zero) 0 0 0
}

.margin-right-zero {
  margin: 0 var(--space-zero) 0 0
}

.margin-bottom-zero {
  margin: 0 0 var(--space-zero) 0
}

.margin-left-zero {
  margin: 0 0 0 var(--space-zero)
}


.margin-top-2_5xs {
  margin: var(--space-2_5xs) 0 0 0
}

.margin-right-2_5xs {
  margin: 0 var(--space-2_5xs) 0 0
}

.margin-bottom-2_5xs {
  margin: 0 0 var(--space-2_5xs) 0
}

.margin-left-2_5xs {
  margin: 0 0 0 var(--space-2_5xs)
}
.margin-top-2xs {
  margin: var(--space-2xs) 0 0 0
}

.margin-right-2xs {
  margin: 0 var(--space-2xs) 0 0
}

.margin-bottom-2xs {
  margin: 0 0 var(--space-2xs) 0
}

.margin-left-2xs {
  margin: 0 0 0 var(--space-2xs)
}

.margin-top-xs {
  margin: var(--space-xs) 0 0 0
}

.margin-right-xs {
  margin: 0 var(--space-xs) 0 0
}

.margin-bottom-xs {
  margin: 0 0 var(--space-xs) 0
}

.margin-left-xs {
  margin: 0 0 0 var(--space-xs)
}

.margin-top-s {
  margin: var(--space-s) 0 0 0
}

.margin-right-s {
  margin: 0 var(--space-s) 0 0
}

.margin-bottom-s {
  margin: 0 0 var(--space-s) 0
}

.margin-left-s {
  margin: 0 0 0 var(--space-s)
}

.margin-top-m {
  margin: var(--space-m) 0 0 0
}

.margin-right-m {
  margin: 0 var(--space-m) 0 0
}

.margin-bottom-m {
  margin: 0 0 var(--space-m) 0
}

.margin-left-m {
  margin: 0 0 0 var(--space-m)
}

.margin-top-l {
  margin: var(--space-l) 0 0 0
}

.margin-right-l {
  margin: 0 var(--space-l) 0 0
}

.margin-bottom-l {
  margin: 0 0 var(--space-l) 0
}

.margin-left-l {
  margin: 0 0 0 var(--space-l)
}

.margin-top-xl {
  margin: var(--space-xl) 0 0 0
}

.margin-right-xl {
  margin: 0 var(--space-xl) 0 0
}

.margin-bottom-xl {
  margin: 0 0 var(--space-xl) 0
}

.margin-left-xl {
  margin: 0 0 0 var(--space-xl)
}

.margin-top-2xl {
  margin: var(--space-2xl) 0 0 0
}

.margin-right-2xl {
  margin: 0 var(--space-2xl) 0 0
}

.margin-bottom-2xl {
  margin: 0 0 var(--space-2xl) 0
}

.margin-left-2xl {
  margin: 0 0 0 var(--space-2xl)
}

.margin-top-3xl {
  margin: var(--space-3xl) 0 0 0
}

.margin-right-3xl {
  margin: 0 var(--space-3xl) 0 0
}

.margin-bottom-3xl {
  margin: 0 0 var(--space-3xl) 0
}

.margin-left-3xl {
  margin: 0 0 0 var(--space-3xl)
}

.margin-top-4xl {
  margin: var(--space-4xl) 0 0 0
}

.margin-right-4xl {
  margin: 0 var(--space-4xl) 0 0
}

.margin-bottom-4xl {
  margin: 0 0 var(--space-4xl) 0
}

.margin-left-4xl {
  margin: 0 0 0 var(--space-4xl)
}

.margin-top-5xl {
  margin: var(--space-5xl) 0 0 0
}

.margin-right-5xl {
  margin: 0 var(--space-5xl) 0 0
}

.margin-bottom-5xl {
  margin: 0 0 var(--space-5xl) 0
}

.margin-left-5xl {
  margin: 0 0 0 var(--space-5xl)
}

.margin-top-6xl {
  margin: var(--space-6xl) 0 0 0
}

.margin-right-6xl {
  margin: 0 var(--space-6xl) 0 0
}

.margin-bottom-6xl {
  margin: 0 0 var(--space-6xl) 0
}

.margin-left-6xl {
  margin: 0 0 0 var(--space-6xl)
}

.margin-top-7xl {
  margin: var(--space-7xl) 0 0 0
}

.margin-right-7xl {
  margin: 0 var(--space-7xl) 0 0
}

.margin-bottom-7xl {
  margin: 0 0 var(--space-7xl) 0
}

.margin-left-7xl {
  margin: 0 0 0 var(--space-7xl)
}

.gap-7xl {
  gap: var(--space-7xl);
}

.gap-6xl {
  gap: var(--space-6xl);
}

.gap-5xl {
  gap: var(--space-5xl);
}

.gap-4xl {
  gap: var(--space-4xl);
}

.gap-3xl {
  gap: var(--space-3xl);
}

.gap-2xl {
  gap: var(--space-2xl);
}

.gap-xl {
  gap: var(--space-xl);
}

.gap-l {
  gap: var(--space-l);
}

.gap-m {
  gap: var(--space-m);
}

.gap-s {
  gap: var(--space-s);
}

.gap-xs {
  gap: var(--space-xs);
}

.gap-2xs {
  gap: var(--space-2xs);
}