:root {
  --height-for-h: 140%;
  --height-for-p: 160%;
  --text-size-5xl: 48px;
  --text-size-2xl: 40px;
  --text-size-m: 16px;
  --text-size-l: 19px;
  --text-size-m: 19px;
  --text-size-s: 19px;
  --text-size-xs: 19px;
}

/* Tablet variables */
@media screen and (max-width: 768px) {
  :root {
    --text-size-5xl: 32px;
    --text-size-l: 18px;
  }
}

/* Phone variables */
@media screen and (max-width: 558px) {
  :root {
    --text-size-5xl: 32px;
    --text-size-l: 18px;
  }
}

.text-size-5xl {
  font-size: var(--text-size-5xl);
}

.text-size-l {
  font-size: var(--text-size-l);
}

.text-size-m {
  font-size: var(--text-size-m);
}