.com-btn {
    font-family: 'n27bold';
    color: inherit;
    text-decoration: none;
    display: flex;
    height: var(--sp--2xl);
    width: fit-content;
    border: 1px solid var(--c--pine);
    border-radius: var(--sp--7xl);
    align-items: center;
    padding-inline: var(--sp--s);
    font-size: var(--t-s--m);
    transition: all 125ms;
}

.com-btn:hover {
    transform: rotate(-6deg);
    transition: all 250ms;
}

.com-btn._com-btn--sp {
    gap: var(--sp--xs);
}

.com-btn._com-btn--sp img {
    height: var(--sp--xl);
}

@media only screen and (min-width: 620px) and (max-width: 991px) {

    /* only tablet */
    .com-btn {
        height: calc(var(--sp--xs) + var(--sp--2xl));
    }
}

@media only screen and (max-width: 619px) {

    /* only mobile */
    .com-btn._com-btn--sp img {
        height: var(--sp--l);
    }
}

.com--cont-fern {
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.com--cont-fern lottie-player {
    margin-left: 40%;
    margin-bottom: -24%;
    /* this value makes the lottie outline to sit at the bottom of the container */
    opacity: .9;
    transform: scale(.8);
}

.com--pulse {
    min-width: calc(1.15 * var(--sp--xs));
    width: calc(1.15 * var(--sp--xs));
    height: calc(1.15 * var(--sp--xs));
    border-radius: var(--sp--7xl);
    background: var(--c--accent);
    box-shadow: 0 0 0 var(--c--accent--40);
    animation: pulse 2.5s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--c--accent--40);
    }

    70% {
        -webkit-box-shadow: 0 0 0 var(--sp--s) var(--c--accent--0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 var(--c--accent--40);
        box-shadow: 0 0 0 0 var(--c--accent--40);
    }

    70% {
        -moz-box-shadow: 0 0 0 var(--sp--s) var(--c--accent--0);
        box-shadow: 0 0 0 var(--sp--s) rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 var(--c--accent--0);
        box-shadow: 0 0 0 0 var(--c--accent--0);
    }
}