.com-logo--alt {
    filter: brightness(0) invert(1);
}

.com-btn {
    font-family: 'n27bold';
    color: inherit;
    text-decoration: none;
    display: flex;
    height: var(--sp--2xl);
    width: fit-content;
    border: 1px solid var(--c--pine);
    border-radius: var(--sp--7xl);
    align-items: center;
    padding-inline: var(--sp--s);
    font-size: var(--t-s--m);
    transition: all 125ms;
}

.com-btn:hover {
    transform: rotate(-6deg);
    transition: all 250ms;
}

  

.com-btn._com-btn--sp {
    gap: var(--sp--xs);
}

.com-btn._com-btn--sp--alt {
    /* this class doesn't invert colors on the img, so it needs the img-alt in order to match the contrast */
    gap: var(--sp--xs);
    color: var(--c--white--90);
    border: 1px solid var(--c--white--90);
}

.com-btn._com-btn--sp img {
    height: var(--sp--xl);
}

.com-has--arrow::after {
    content: " ↗";
}

@media only screen and (min-width: 620px) and (max-width: 991px) {

    /* only tablet */
    .com-btn {
        height: calc(var(--sp--xs) + var(--sp--2xl));
    }
}

@media only screen and (max-width: 619px) {

    /* only mobile */
    .com-btn._com-btn--sp img {
        height: var(--sp--l);
    }
}

.com--cool-msg {
    padding: var(--sp--m);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23131117' stroke-width='2' stroke-dasharray='2%2c 4%2c 6%2c 8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    opacity: 70%;
}

.com--cont-fern {
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.com--cont-fern lottie-player {
    margin-left: 40%;
    margin-bottom: -24%;
    /* this value makes the lottie outline to sit at the bottom of the container */
    opacity: .9;
    transform: scale(.8);
}

.com--pulse {
    min-width: calc(1.15 * var(--sp--xs));
    width: calc(1.15 * var(--sp--xs));
    height: calc(1.15 * var(--sp--xs));
    border-radius: var(--sp--7xl);
    background: var(--c--accent);
    box-shadow: 0 0 0 var(--c--accent--40);
    animation: pulse 2.5s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 var(--c--accent--40);
    }

    70% {
        -webkit-box-shadow: 0 0 0 var(--sp--s) var(--c--accent--0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 var(--c--accent--40);
        box-shadow: 0 0 0 0 var(--c--accent--40);
    }

    70% {
        -moz-box-shadow: 0 0 0 var(--sp--s) var(--c--accent--0);
        box-shadow: 0 0 0 var(--sp--s) rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 var(--c--accent--0);
        box-shadow: 0 0 0 0 var(--c--accent--0);
    }
}

.com--icon--rrss {
    opacity: 90%;
}

.com--icon--rrss:hover {
    opacity: 100%;
    transition: all 125ms;
}

.com-quote--modern::before {
    position: absolute;
    content: "“";
    font-size: calc(var(--t-b) * var(--t-sc) * var(--t-sc) * var(--t-sc) * var(--t-sc));
    top: calc(-1 * var(--sp--l));
}

.com--project-img_clone-it {
    position: absolute;
    width: clamp(var(--sp--l), 12.5%, var(--sp--2xl));
    right: var(--sp--m);
    bottom: calc(var(--sp--l) + var(--sp--l));
    /* the first variable corrects the space that the parent image is generating with its margin-bottom */
    border-radius: var(--sp--7xl);
    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.01), 4px 6px 4px rgba(0, 0, 0, 0.04), 2px 3px 3px rgba(0, 0, 0, 0.07), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.09);
    transition: all 125ms;
    cursor: pointer;
    z-index: 999;
}

.com--project-img_clone-it:hover {
    box-shadow: none;
    transition: all 125ms;
}

.com--project-img_clone-it._com--project-img_clone-it--non {
    position: absolute;
    width: clamp(var(--sp--l), 12.5%, var(--sp--2xl));
    right: var(--sp--m);
    bottom: calc(var(--sp--l) + var(--sp--l));
    border-radius: var(--sp--7xl);
    box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.01), 4px 6px 4px rgba(0, 0, 0, 0.04), 2px 3px 3px rgba(0, 0, 0, 0.07), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    opacity: 0.4;
    filter: grayscale(100%);
}

.com--project-img_clone-it._com--project-img_clone-it--non {
    cursor: not-allowed;
}

.com--leaf {
    position: absolute;
    right: 0;
    width: var(--sp--5xl);
    top: calc(-1 * var(--sp--5xl) - var(--sp--2xs));
    opacity: .9;
    /* this positions the leaf right on the border of the section, as it avoids the top padding of the section — it also add a few negative pixels to deal with the border of the leaf */
}

@media only screen and (max-width: 619px) {

    /* only mobile */
    .com--leaf {
        top: calc(-1 * var(--sp--3xl) - var(--sp--2xs));
        /* this positions the leaf right on the border of the section, as it avoids the top padding of the section — it also add a few negative pixels to deal with the border of the leaf */
    }
}

.com-colab--idg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(-1 * var(--sp--l));
    min-height: var(--sp--2xl);
    min-width: auto;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10),
        10px 10px 31px 0px rgba(0, 0, 0, 0.10),
        40px 40px 57px 0px rgba(0, 0, 0, 0.09),
        91px 90px 77px 0px rgba(0, 0, 0, 0.05),
        161px 160px 91px 0px rgba(0, 0, 0, 0.01),
        252px 251px 100px 0px rgba(0, 0, 0, 0.00);
    animation: levitate 2.725s ease-in-out infinite;
}

@keyframes levitate {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-4px);
    }

    60% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

.com--idg-logo {
    height: var(--sp--m);
    margin-right: var(--sp--2xs);
}