/* Ed. 1.1 */
.st--row {
    display: flex;
}

.st--col {
    display: flex;
    flex-direction: column;
}

.st-ah--start {
    justify-content: flex-start;
}

.st-ah--center {
    justify-content: center;
}

.st-ah--end {
    justify-content: flex-end;
}

.st-ah--sb {
    justify-content: space-between;
}

.st-av--mid {
    align-items: center;
}

.st-btn--sp {}