@media (min-width: $breakpoint--desktop) {
    :root {
        --t-b: 1rem;
        --t-sc: 1.31;
    }
}

@media (min-width: $breakpoint--tablet) {
    :root {
        --t-sc: 1.26;
    }
}

@media (min-width: $breakpoint--mobile) {
    :root {
        --t-b: 15px;
        --t-sc: 1.19;
    }
}



$t-s--s: $t-b / $t-sc;
$t-s--xs: $t-b / ($t-sc * $t-sc);
$t-s--m: $t-b;
$t-s--l: $t-b * $t-sc;
$t-s--xl: $t-b * $t-sc * $t-sc;
$t-s--2xl: $t-b * $t-sc * $t-sc * $t-sc;
$t-s--3xl: $t-b * $t-sc * $t-sc * $t-sc * $t-sc;
$t-s--4xl: $t-b * $t-sc * $t-sc * $t-sc * $t-sc * $t-sc;
$t-s--5xl: $t-b * $t-sc * $t-sc * $t-sc * $t-sc * $t-sc * $t-sc;


.t-s--xs {
    font-size: $t-s--xs;
}

.t-s--xs {
    font-size: $t-s--s;
}

.t-s--m {
    font-size: $t-s--m;
}

.t-s--l {
    font-size: $t-s--l;
}

.t-s--xl {
    font-size: $t-s--xl;
}

.t-s--2xl {
    font-size: $t-s--2xl;
}

.t-s--3xl {
    font-size: $t-s--3xl;
}

.t-s--4xl {
    font-size: $t-s--4xl;
}

.t-s--5xl {
    font-size: $t-s--5xl;
}