body {
    font-family: 'n27regular';
    text-transform: lowercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'n27bold';
}

button {
    font-family: 'n27bold';
    font-size: inherit;
    text-transform: inherit;
}

/* Ed. 1.1 */
:root {
    font-size: 16px;
    /* value equals 1rem */
    --sc: 1.31;
    /* value for typography scale on desktop */
    --b: 1rem;
    /* value for typography base size on desktop */
    --l-h-h: 110%;
    /* value for line heigh for headings on desktop */
    --l-h-p: 155%;
    /* value for line heigh for paragraphs on desktop */
    --l-sp-h: -0.015em;
    /* value for typography space for headings on desktop */
    --l-sp-p: normal;
    /* value for typography space for headings on desktop */
    --we-p: 500;
    /* value for typography weight for paragraphs on desktop */
    --we-p: 700;
    /* value for typography weight for headings on desktop */
}

@media only screen and (min-width: 620px) and (max-width: 991px) {
    :root {
        --sc: 1.26;
        /* value for typography scale on tablet */
    }
}

@media only screen and (max-width: 619px) {
    :root {
        --sc: 1.19;
        /* value for typography scale on mobile */
        --b: 0.9375rem;
        /* value for typography base size on mobile */
    }
}

.t-s-5xl,
.t-s-4xl,
.t-s-3xl,
.t-s-2xl,
.t-s-xl {
    line-height: var(--l-h-h);
    letter-spacing: var(--l-sp-h);
    font-weight: 700;
}

.t-s-l,
.t-s-m,
.t-s-s,
.t-s-xs {
    line-height: var(--l-h-p);
    letter-spacing: var(--l-sp-p);
    font-weight: 500;
}

.t-s-5xl {
    font-size: calc(var(--b) * var(--sc) * var(--sc) * var(--sc) * var(--sc) * var(--sc) * var(--sc));
}

.t-s-4xl {
    font-size: calc(var(--b) * var(--sc) * var(--sc) * var(--sc) * var(--sc) * var(--sc));
}

.t-s-3xl {
    font-size: calc(var(--b) * var(--sc) * var(--sc) * var(--sc) * var(--sc));
}

.t-s-2xl {
    font-size: calc(var(--b) * var(--sc) * var(--sc) * var(--sc));
}

.t-s-xl {
    font-size: calc(var(--b) * var(--sc) * var(--sc));
}

.t-s-l {
    font-size: calc(var(--b) * var(--sc));
}

.t-s-m {
    font-size: var(--b);
}

.t-s-s {
    font-size: calc(var(--b) / var(--sc));
}

.t-s-xs {
    font-size: calc(var(--b) / (var(--sc) * var(--sc)));
}



