.hid {
  display: none;
}

.ut-of--hid {
  overflow: hidden;
}

.ut-link {
  color: inherit;
}

.ut-obj-respond {
  /* make objects (svg, img) to addapt to their containers */
  width: 100%;
}

.ut-border--sc {
  /* border used for showcase sreenshots or frames */
  border: var(--sp--2xs) solid var(--c--pine);
  border-radius: var(--sp--s);
}

.ut-link._ut-link--branch,
.ut-link._ut-link--inner,
.ut-link._ut-link--not-underline,
.ut-link._ut-link--alt {
  text-decoration: none;
}

.ut-link._ut-link--branch:hover,
.ut-link._ut-link--inner:hover {
  text-decoration: underline;
  text-underline-offset: var(--sp--2xs);
  text-decoration-thickness: 2px;
  text-decoration-color: var(--c--pine);
}

.ut-link._ut-link--alt {
  /* used in a dark background */
  color: var(--c--white--80);
}

.ut-link._ut-link--alt:hover {
  text-decoration: underline;
  text-underline-offset: var(--sp--2xs);
  text-decoration-thickness: 2px;
  text-decoration-color: var(--c--white--80);
}

.ut-link._ut-link—disabled {
  opacity: 0.3;
  pointer-events: none;
}

.ut-link._ut-link—disabled._ut-link--soon::after {
  content: "";
  animation: dot-animation 2.5s infinite;
}

@keyframes dot-animation {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}




.ut--front {
  z-index: 1;
}

.ut--back {
  z-index: 1;
}

.ut-highlight {
  box-shadow: inset 0 -.55em 0 var(--c--accent--80);
  transition: all .2s;
}

.ut-highlight:hover {
  box-shadow: inset 0 -1.1em 0 var(--c--accent--80);
}

.ut-opacity--90 {
  opacity: 0.9;
}

.ut-opacity--80 {
  opacity: 0.8;
}

.ut-opacity--70 {
  opacity: 0.7;
}

.ut-opacity--60 {
  opacity: 0.6;
}

.ut-opacity--50 {
  opacity: 0.5;
}

.ut-opacity--40 {
  opacity: 0.4;
}

.ut-opacity--30 {
  opacity: 0.3;
}

.ut-opacity--20 {
  opacity: 0.2;
}

.ut-opacity--10 {
  opacity: 0.1;
}

.ut-opacity--0 {
  opacity: 0;
}

.ut-border-r--whole {
  border-radius: var(--sp--7xl);
}