.ut-link {
  color: inherit;
}

.ut-link._ut-link--branch {
  text-decoration: none;
}

.ut-link._ut-link--branch:hover {
  text-decoration: underline;
  text-underline-offset: var(--sp--2xs);
  text-decoration-thickness: 2px;
  text-decoration-color: var(--c--pine);
}

.ut--front {
  z-index: 1;
}
.ut--back {
  z-index: 1;
}

::selection {
  color: var(--c--accent);
}