.ut-link {
  color: inherit;
}

.ut-link._ut-link--branch,
.ut-link._ut-link--not-underline {
  text-decoration: none;
}

.ut-link._ut-link--branch:hover {
  text-decoration: underline;
  text-underline-offset: var(--sp--2xs);
  text-decoration-thickness: 2px;
  text-decoration-color: var(--c--pine);
}

.ut--front {
  z-index: 1;
}

.ut--back {
  z-index: 1;
}

.ut-highlight {
  box-shadow: inset 0 -.55em 0 var(--c--accent--80);
  transition: all .2s;
}

.ut-highlight:hover {
  box-shadow: inset 0 -1.1em 0 var(--c--accent--80);
}

